#icons {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    color:#003366;
  }

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px; 
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: #003366;
    cursor: pointer; 
    transition: all 0.3s ease;
    margin: 20px;
    margin-top: 30px;
  }

  
  i {
    font-size: 80px; 
  }
  
  span {
    font-size: 24px;
  }
  

  @media (max-width: 650px) {
    #icons {
      flex-direction: column;
      align-items: center;
    }
  }

#blue-strip {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#bio-states {
    text-align: left;
    margin-bottom: 0px;
}

#bio-states p {
    text-align: left;
    max-width: 90%;
    margin: 10px;
    margin-left: 85px;
}

#bio-states h4 {
    margin-left: 60px;
}


#about-values-div {
    display: flex;
    background-color: #003366;
    width: 100%;
    height: auto;
    min-height: 600px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: relative;
}

#matt-div {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

#matt-pic,
#logo-pic {
    width: 45%;
    height: 75%;
    margin: 20px;
}

#matt-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
}

#about-values-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 45%;
    min-height: 300px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

#about-values-text h5 {
    font-size: 40px;
}

#matt-text h5 {
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: none;
}


#matt-text p {
    text-align: left;
    max-width: none;
    margin-left: 0px;
    margin-top: none;
}

@media screen and (max-width: 830px) {
    #bio-states {
        margin-left: -20px;
    }

    #matt-div,
    #about-values-div {
        flex-direction: column;
        min-height: 300px;
        height: auto;
        width: 100%;  
        justify-content: center;
    }
    #matt-pic{
        width: 70%;
        height: auto;
    }
    #logo-pic {
        display: none;
    }
    #matt-text,
    #about-values-text {
        max-width: none;
        width: 100%;
        margin: 5px;
        box-sizing: border-box;
        clear: both;
    }

    #matt-text {
        margin-left: 30px; 
        max-width: 80%;
    }

    #about-values-text {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .image-container img {
        width: 100%;           /* Makes the image take up the full width of the container */
        height: 100vh;         /* Makes the image take up the full height of the viewport */
        object-fit: cover;     /* Ensures the image maintains its aspect ratio */
        object-position: center; /* Centers the image within its container */
    }
}