#commercial-services, #residential-services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 30px;
  }
  
  .service-category {
    flex: 1 1 calc(33.333% - 20px); /* Default: 3 items per row (33.333% each) */
    box-sizing: border-box;
    max-width: 30%;
  }

  .services {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    gap: 20px;
    justify-content: space-between;
    background-color: #003366;
    color: white;
  }

  .services h4 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: -20px;
  }

  .service-category i {
    font-size: 36px;
    color: #FFB800;
    border: 3px solid #FFB800;
    border-radius: 50%;
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
  }
  
  @media (max-width: 1024px) {
    .service-category {
      flex: 1 1 calc(50% - 20px);
      max-width: 45%;
    }
  }
  
  @media (max-width: 768px) {
    .service-category {
      flex: 1 1 100%;
      max-width: 80%;
      margin: 0 auto;
    }
  }
  